<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

  <title>Invoice</title>

  <style>
    th,td{
      border-width: 1px;
    }
  </style>
</head>
<body >
  <h1 class="bg-red-50 uppercase tracking-wide text-center text-gray-700 font-bold p-8 text-3xl">
    Invoice
  </h1>
  <hr>
</hr>
  <div>
    <form class="w-full p-4 bg">
      <div>
        <div>
          <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold m-2"
            htmlFor="grid-first-name">
            Invoice No. -
          </label>
          <label>@invoiceNo@</label>
        </div>
        <div ></div>
        <div>
          <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold m-2"
            htmlFor="grid-last-name">
            Date
          </label>
          <label>@date@</label>
        </div>
      </div>
      <hr class="mb-2">
    </hr>
      <div class="flex flex-wrap -mx-3 mb-6">
        <div class="w-full w-full md:w-1/2 px-3">
          <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" htmlFor="grid-password">
            Ship To : -
          </label>
          <label>@shipTo@
          </label>
        </div>
        <div class="w-full w-full md:w-1/2 px-3">
          <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" htmlFor="grid-password">
            Bill To
          </label>
          <label>@billTo@
          </label>

        </div>
      </div>
      <hr class="mb-2">
    </hr>

      <Table class="border-collapse border border-slate-400 w-full" responsive>
        <thead>
          <tr>
            <th>Sr. No.</th>
            <th>Description</th>
            <th>Unit</th>
            <th>Qty.</th>
            <th>Unit Price</th>
            <th>Discount %</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          <!-- {fields.map((item, index) => ( -->
            @Name@
          <!-- <tr key={index}>
            <td class="text-center">1</td>

            <td class="text-center">
              Cutter
            </td>
            <td class="text-center">
              Nos
            </td>
            <td class="text-center"> 
              2
            </td>

            <td class="text-center"> 
              25000
              <form action="" method="get"></form>
            </td>

            <td class="text-center">
              5%
            </td>
            <td class="text-center">
              45000
            </td>
          </tr> -->
        </tbody>
      </Table>
      <hr class="m-2">
    </hr>
      <div class="flex flex-wrap -mx-3 mb-2">
        <div class="w-full md:w-1/5 px-3 mb-6 md:mb-0">
          <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" htmlFor="grid-city">
            Laboar Charges :-
          </label>
          @labourCharge@
        </div>
        <div class="w-full md:w-1/5 px-3 mb-6 md:mb-0">
          <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" htmlFor="grid-zip">
            Freight : -
          </label>
          @freight@
        </div>
      </div>
      <hr class="mb-2">
    </hr>
      <div class="flex flex-wrap -mx-3 mb-2">
        <div class="w-full md:w-1/5 px-3 mb-6 md:mb-0">
          <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" htmlFor="grid-zip">
            GST Type
          </label>
          @gstType@
          <!-- <Select isSearchable={true} name="supervisorId" value={formValues?.gstType}> -->
        </div>
        <div class="w-full md:w-1/5 px-3 mb-6 md:mb-0">
          <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" htmlFor="grid-zip">
            IGST
          </label>
          @igstper@
          <!-- <Select isSearchable={true} name="supervisorId" value={formValues?.igst} options={gstOptions}> -->
        </div>
        <div class="w-full md:w-1/5 px-3 mb-6 md:mb-0">
          <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" htmlFor="grid-zip">
            CGST
          </label>
          @cgstper@
          <!-- <Select isSearchable={true} name="supervisorId" value={formValues?.cgst} options={sgstOptions}> -->
        </div>
        <div class="w-full md:w-1/5 px-3 mb-6 md:mb-0">
          <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" htmlFor="grid-zip">
            SGST
          </label>
          @sgstper@
          <!-- <Select isSearchable={true} name="supervisorId" value={formValues?.sgst} options={sgstOptions}> -->
        </div>
      </div>
      <hr class="mb-2">
    </hr>
      <div class="flex flex-wrap -mx-3 mb-2">
        <div class="w-full w-full md:w-1/2 px-3">
          <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" htmlFor="grid-password">
            Total Amount : -
          </label>
          @total@
        </div>
      </div>
      <div class="flex flex-wrap -mx-3 mb-2">
        <div class="w-full w-full md:w-1/2 px-3">
          <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" htmlFor="grid-password">
            Total Amount With GST : -
          </label>
          @totalGst@
        </div>
        <div class="flex items-center justify-center">
        </div>
    </form>
  </div>
</body>

</html>