.authLayout {
  display: flex;
  flex-direction: row;
}

.backgroundImage {
  background-image: 
  url(/assets/images/henkel-outline.png)
  , url(/assets/images/hexagon-2.png)
  ; 
  background-repeat: no-repeat, repeat;
  background-position: 50% 50%, 50% 50%;
  background-size: 10vw 20vh, contain;
  height: 100vh;
  width: 65%;
}

.pages {
  background-color: var(--bs-primary);
  width: 35%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.dashboardLayout {
  transition: all 500ms ease !important;
  padding-top: calc(54px); 
}
